Repository Ulm-IQO/qudi, pull requests merged in 2018-11, with the labels that each got.

#444 Fix constraint smiq
  documentation/changelog.md
  hardware/microwave/mw_source_smiq.py
Labels: bug, comp:odmr, enhancement

#446 Live odmr
  documentation/changelog.md
  gui/odmr/odmrgui.py
  gui/odmr/ui_odmrgui.ui
  logic/interfuse/odmr_counter_microwave_interfuse.py
  logic/odmr_logic.py
Labels: comp:odmr, enhancement

#447 Improvement for loading assets into pulser
  logic/pulsed/pulsed_master_logic.py
Labels: comp:pulsed, enhancement

#451 Delete all pulsed assets buttons
  documentation/changelog.md
  gui/pulsed/pulsed_maingui.py
  gui/pulsed/ui_pulse_editor.ui
  gui/pulsed/ui_sequence_editor.ui
  logic/pulsed/pulsed_master_logic.py
  logic/pulsed/sequence_generator_logic.py
Labels: comp:pulsed, enhancement

#455 Pulsed alternative plot fit
  documentation/changelog.md
  gui/pulsed/pulsed_maingui.py
  gui/pulsed/ui_pulse_analysis.ui
  logic/pulsed/pulsed_master_logic.py
  logic/pulsed/pulsed_measurement_logic.py
Labels: comp:pulsed, enhancement

#457 Clear fit data in pulsed measurements
  documentation/changelog.md
  logic/pulsed/pulsed_measurement_logic.py
Labels: comp:pulsed, enhancement

#458 Bugfix: ensemble length in bins and waveform length mismatch
  logic/pulsed/sequence_generator_logic.py
Labels: bug, comp:pulsed
