Repository Ulm-IQO/qudi, pull requests merged in 2018-03, with the labels that each got.

#315 ScienDSpinBox alternative
  gui/confocal/confocalgui.py
  gui/confocal/ui_confocalgui.ui
  gui/fitsettings.py
  gui/magnet/magnet_gui.py
  gui/magnet/ui_magnet_gui.ui
  gui/odmr/odmrgui.py
  gui/odmr/ui_odmrgui.ui
  gui/poimanager/poimangui.py
  gui/pulsed/pulsed_maingui.py
  gui/pulsed/scientificspinbox_delegate.py
  gui/pulsed/ui_predefined_methods.ui
  gui/pulsed/ui_pulse_analysis.ui
  gui/pulsed/ui_pulse_editor.ui
  gui/pulsed/ui_sequence_editor.ui
  qtwidgets/pyqtgraphmod/SpinBox.py
  qtwidgets/scientific_spinbox.py
Labels: Qt, design issue, enhancement

#319 Units of threshold extraction method in seconds
  gui/pulsed/pulsed_maingui.py
  gui/pulsed/ui_pulse_extraction.ui
  logic/pulse_extraction_logic.py
  logic/pulse_extraction_methods/basic_extraction_methods.py
  logic/pulsed_measurement_logic.py
Labels: bug, comp:pulsed

#328 Awg70k upload fix
  hardware/awg/tektronix_awg70k.py
Labels: bug, comp:pulsed

#331 Small fix for long ensembles
  logic/sequence_generator_logic.py
Labels: bug, comp:pulsed

#332 fixed poi-manager: a feature that was more a bug
  logic/poi_manager_logic.py
Labels: bug, comp:poi_manager

#330 Updated changelog for release v0.9
  documentation/changelog.md
  logic/fitmethods/sinemethods.py
  notebooks/fit_testing_N14.ipynb
  notebooks/fit_testing_N15.ipynb
  notebooks/fit_testing_exponential.ipynb
  notebooks/fit_testing_gaussian.ipynb
  notebooks/fit_testing_hyperbolicsaturation.ipynb
  notebooks/fit_testing_lorentzian.ipynb
  notebooks/fit_testing_poissonian.ipynb
  notebooks/fit_testing_sine.ipynb
  notebooks/fit_testing_sine_exponential.ipynb
  notebooks/fit_testing_voigt.ipynb
  qtwidgets/scientific_spinbox.py
  tools/test.sh
Labels: documentation

#333 Introduced a config option to set the default waveform format.
  config/example/default.cfg
  logic/sequence_generator_logic.py
Labels: comp:pulsed, enhancement

#334 Pulsed: when sigStopMeasurement got None in parameter Python crashes
  logic/pulsed_master_logic.py
Labels: bug, comp:pulsed

#337 Adding a chirp function to sampling functions.
  logic/sampling_functions.py
Labels: comp:pulsed, enhancement

#341 Zero value scientific SpinBox fix
  qtwidgets/scientific_spinbox.py
Labels: bug

#339 Countdata ctype fix
  hardware/fast_counter_dummy.py
  hardware/fpga_fastcounter/fast_counter_fpga_qo.py
  logic/pulse_extraction_methods/basic_extraction_methods.py
  logic/pulsed_measurement_logic.py
Labels: bug, comp:pulsed

#347 Added the recent changes since release v0.9 to the changelog.
  .github/PULL_REQUEST_TEMPLATE.md
  documentation/changelog.md
Labels: documentation

#343 Pulsed analysis show delta
  gui/pulsed/pulsed_maingui.py
  gui/pulsed/ui_pulse_analysis.ui
  logic/pulsed_master_logic.py
  logic/pulsed_measurement_logic.py
Labels: comp:pulsed, enhancement

#350 Pulsed extraction fix
  documentation/changelog.md
  gui/pulsed/pulsed_maingui.py
Labels: bug, comp:pulsed

#351 Correcting calculation of length of sequence
  logic/pulse_objects.py
Labels: comp:pulsed
