Repository Ulm-IQO/qudi, pull requests merged in 2018-09, with the labels that each got.

#384 Pulsed 3.0
  config/example/default.cfg
  documentation/changelog.md
  documentation/pulsed/how_to_add_analysis_methods.md
  documentation/pulsed/how_to_add_extraction_methods.md
  documentation/pulsed/how_to_add_predefined_methods.md
  documentation/pulsed/how_to_add_sampling_functions.md
  gui/pulsed/checkbox_delegate.py
  gui/pulsed/combobox_delegate.py
  gui/pulsed/doublespinbox_delegate.py
  gui/pulsed/pulse_editors.py
  gui/pulsed/pulsed_custom_widgets.py
  gui/pulsed/pulsed_item_delegates.py
  gui/pulsed/pulsed_maingui.py
  gui/pulsed/scientificspinbox_delegate.py
  gui/pulsed/spinbox_delegate.py
  gui/pulsed/ui_predefined_methods.ui
  gui/pulsed/ui_pulse_analysis.ui
  gui/pulsed/ui_pulse_editor.ui
  gui/pulsed/ui_pulse_extraction.ui
  gui/pulsed/ui_pulsed_main_gui_settings_analysis.ui
  gui/pulsed/ui_pulsed_main_gui_settings_block_gen.ui
  gui/pulsed/ui_pulsed_main_gui_settings_generator.ui
  gui/pulsed/ui_pulsed_maingui.ui
  gui/pulsed/ui_sequence_editor.ui
  hardware/awg/tektronix_awg5002c.py
  hardware/awg/tektronix_awg70k.py
  hardware/awg/tektronix_awg7122c.py
  hardware/dtg/dtg5334.py
  hardware/fpga_pulser/ok_fpga_pulser.py
  hardware/national_instruments_pulser.py
  hardware/pulser_dummy.py
  hardware/swabian_instruments/pulse_streamer.py
  interface/pulser_interface.py
  logic/odmr_logic.py
  logic/predefined_methods/basic_methods.py
  logic/pulse_analysis_logic.py
  logic/pulse_extraction_logic.py
  logic/pulse_extraction_methods/basic_extraction_methods.py
  logic/pulse_objects.py
  logic/pulsed/predefined_generate_methods/basic_predefined_methods.py
  logic/pulsed/pulse_analyzer.py
  logic/pulsed/pulse_extraction_methods/basic_extraction_methods.py
  logic/pulsed/pulse_extractor.py
  logic/pulsed/pulse_objects.py
  logic/pulsed/pulsed_analysis_methods/basic_analysis_methods.py
  logic/pulsed/pulsed_master_logic.py
  logic/pulsed/pulsed_measurement_logic.py
  logic/pulsed/sampling_function_defs/basic_sampling_functions.py
  logic/pulsed/sampling_functions.py
  logic/pulsed/sequence_generator_logic.py
  logic/pulsed_analysis_methods/basic_analysis_methods.py
  logic/pulsed_master_logic.py
  logic/pulsed_measurement_logic.py
  logic/sampling_functions.py
  logic/sequence_generator_logic.py
  notebooks/scripting_pulsed_measurements.ipynb
  qtwidgets/scientific_spinbox.py
  tools/samples_write_methods.py
Labels: bug, comp:pulsed, design issue, documentation, enhancement

#402 Pulsed aftermath bugfixes
  gui/pulsed/pulsed_maingui.py
  qtwidgets/scientific_spinbox.py
Labels: bug, comp:pulsed, pyqt

#403 Pulsed aftermath bugfixes
  documentation/main.md
  logic/pulsed/pulsed_master_logic.py
  logic/pulsed/sequence_generator_logic.py
Labels: bug, documentation

#408 Pulsed aftermath bugfixes
  hardware/awg/tektronix_awg70k.py
  logic/pulsed/pulse_objects.py
  logic/pulsed/pulsed_master_logic.py
  logic/pulsed/sequence_generator_logic.py
Labels: bug, comp:pulsed, enhancement

#412 Bugfix/Improvement with predefined methods using PulseSequence instances
  gui/pulsed/pulsed_maingui.py
  hardware/awg/tektronix_awg70k.py
  logic/pulsed/pulsed_master_logic.py
  logic/pulsed/sequence_generator_logic.py
Labels: bug, comp:pulsed

#409 Odmr listmode fix
  hardware/microwave/mw_source_anritsu.py
  logic/odmr_logic.py
Labels: bug, comp:odmr, design issue

#417 Logger in sampling functions
  documentation/pulsed/how_to_add_sampling_functions.md
  logic/pulsed/sampling_functions.py
Labels: comp:pulsed, enhancement

#418 Fpga on new pulsed
  documentation/changelog.md
  gui/pulsed/ui_pulsed_maingui.ui
  hardware/awg/tektronix_awg5002c.py
  hardware/fpga_pulser/ok_fpga_pulser.py
  logic/pulsed/sequence_generator_logic.py
Labels: bug, comp:pulsed, enhancement

#426 AWG70k bugfix
  hardware/awg/tektronix_awg70k.py
Labels: bug
