Repository Ulm-IQO/qudi, pull requests merged in 2019-02, with the labels that each got.

#478 Revision of FPGA switch/copy module
  documentation/changelog.md
  hardware/switches/ok_fpga/ok_fpga_switch.py
  hardware/switches/ok_fpga/ok_s6_switch.py
Labels: comp:switches, enhancement

#476 Fix sequence flags
  documentation/changelog.md
  gui/pulsed/pulse_editors.py
  gui/pulsed/pulsed_custom_widgets.py
  gui/pulsed/pulsed_item_delegates.py
  gui/pulsed/pulsed_maingui.py
  hardware/awg/tektronix_awg70k.py
  hardware/pulser_dummy.py
  interface/pulser_interface.py
  logic/pulsed/pulse_objects.py
  logic/pulsed/sequence_generator_logic.py
Labels: comp:pulsed

#473 No or analogue laser channels
  documentation/changelog.md
  documentation/pulsed/pulsed_maingui.md
  gui/pulsed/pulse_editors.py
  gui/pulsed/pulsed_maingui.py
  hardware/awg/keysight_M3202A.py
  logic/pulsed/pulse_extraction_methods/basic_extraction_methods.py
  logic/pulsed/pulse_objects.py
  logic/pulsed/pulsed_measurement_logic.py
  logic/pulsed/sequence_generator_logic.py
Labels: comp:pulsed, design issue

#470 Sweeps in pulsed measurement
  hardware/fast_counter_dummy.py
  hardware/fastcomtec/fastcomtecmcs6.py
  hardware/fastcomtec/fastcomtecp7887.py
  hardware/fpga_fastcounter/fast_counter_fpga_pi3.py
  hardware/fpga_fastcounter/fast_counter_fpga_qo.py
  hardware/picoquant/picoharp300.py
  hardware/swabian_instruments/timetagger_fast_counter.py
  interface/fast_counter_interface.py
  logic/pulsed/pulsed_master_logic.py
  logic/pulsed/pulsed_measurement_logic.py
Labels: comp:pulsed

#480 Fix analyse sequence (second try)
  documentation/changelog.md
  logic/pulsed/pulse_extraction_methods/basic_extraction_methods.py
  logic/pulsed/sequence_generator_logic.py
Labels: bug, comp:pulsed

#484 fixing the parameter setting for fitting
  gui/fitsettings.py
  logic/fit_logic.py
Labels: bug, comp:fit_logic

#485 Sequence channel flank detection
  logic/pulsed/pulse_extraction_methods/basic_extraction_methods.py
  logic/pulsed/sequence_generator_logic.py
Labels: bug, comp:pulsed

#481 Pass additional arguments to lmfit
  logic/fitmethods/decaylikemethods.py
  logic/fitmethods/gaussianlikemethods.py
  logic/fitmethods/hyperbolicsaturationmethods.py
  logic/fitmethods/linearmethods.py
  logic/fitmethods/lorentzianlikemethods.py
  logic/fitmethods/poissonianlikemethods.py
  logic/fitmethods/sinemethods.py
Labels: comp:fit_logic, enhancement

#486 Small fixes on the magnet GUI and logic
  gui/magnet/magnet_gui.py
  logic/magnet_logic.py
Labels: bug, comp:magnet

#488 Netobtain fix
  logic/pulsed/pulsed_measurement_logic.py
Labels: bug, comp:pulsed
