Repository Ulm-IQO/qudi, pull requests merged in 2019-04, with the labels that each got.

#498 Natural string sorting
  core/util/helpers.py
  documentation/changelog.md
  gui/poimanager/poimangui.py
  gui/pulsed/pulse_editors.py
  gui/pulsed/pulsed_maingui.py
  hardware/awg/keysight_M3202A.py
  hardware/awg/tektronix_awg70k.py
  hardware/awg/tektronix_awg7k.py
  hardware/dtg/dtg5334.py
  hardware/pulser_dummy.py
  logic/pulsed/pulse_analyzer.py
  logic/pulsed/pulse_extractor.py
  logic/pulsed/pulse_objects.py
  logic/pulsed/pulsed_measurement_logic.py
  logic/pulsed/sequence_generator_logic.py
  tools/config_gui/menu.py
Labels: comp:core, enhancement

#471 Save additional parameters
  documentation/changelog.md
  logic/counter_logic.py
  logic/pulsed/pulsed_master_logic.py
  logic/pulsed/pulsed_measurement_logic.py
  logic/save_logic.py
Labels: comp:pulsed, comp:savelogic, enhancement

#500 Sample ensemble only if needed
  documentation/changelog.md
  logic/pulsed/pulsed_master_logic.py
  logic/pulsed/sequence_generator_logic.py
Labels: comp:pulsed

#497 Scanimage plotwidget improvement
  core/util/filters.py
  documentation/changelog.md
  gui/confocal/confocalgui.py
  gui/confocal/ui_confocalgui.ui
  gui/magnet/magnet_gui.py
  gui/magnet/ui_magnet_gui.ui
  gui/poimanager/poimangui.py
  gui/poimanager/ui_poimangui.ui
  qtwidgets/checkbox.py
  qtwidgets/plotwidget_modified.py
  qtwidgets/scan_plotwidget.py
Labels: bug, comp:confocal, comp:magnet, comp:poi_manager, design issue

#502 Add current poi to savelogic
  documentation/changelog.md
  logic/poi_manager_logic.py
  logic/save_logic.py
Labels: comp:poi_manager, comp:savelogic, enhancement
