Repository Ulm-IQO/qudi, pull requests merged in 2019-07, with the labels that each got.

#531 Scaling of sampling functions
  documentation/changelog.md
  interface/pulser_interface.py
  logic/pulsed/sampling_function_defs/basic_sampling_functions.py
  logic/pulsed/sequence_generator_logic.py
Labels: bug, comp:pulsed, design issue

#533 Made natural_sort helper function more robust
  core/util/helpers.py
Labels: comp:core, enhancement

#535 Revert "Made natural_sort helper function more robust"
  core/util/helpers.py
Labels: bug

#501 auto_catch_poi functionality
  artwork/icons/qudiTheme/22x22/auto_pois.png
  artwork/icons/qudiTheme/source_svg/auto_pois.svg
  documentation/changelog.md
  gui/poimanager/poimangui.py
  gui/poimanager/ui_poimangui.ui
  logic/poi_manager_logic.py
Labels: comp:poi_manager

#528 Non blocking jupyter output
  core/qudikernel.py
  documentation/changelog.md
  logic/jupyterkernel/builtin_trap.py
  logic/jupyterkernel/compilerop.py
  logic/jupyterkernel/display_trap.py
  logic/jupyterkernel/events.py
  logic/jupyterkernel/helpers.py
  logic/jupyterkernel/kernellogic.py
  logic/jupyterkernel/qzmqkernel.py
  logic/jupyterkernel/redirect.py
  logic/jupyterkernel/stream.py
Labels: comp:core, enhancement

#539 Fix prints in notebooks from threads
  logic/jupyterkernel/helpers.py
  logic/jupyterkernel/qzmqkernel.py
  logic/jupyterkernel/redirect.py
  logic/jupyterkernel/stream.py
Labels: bug, comp:core
