Repository Ulm-IQO/qudi, pull requests merged in 2019-03, with the labels that each got.

#490 Updated changelog for release v0.10
  documentation/changelog.md
Labels: documentation

#491 Also allow colormaps for negative values in Confocal and ODMR
  gui/confocal/confocalgui.py
  gui/odmr/odmrgui.py
Labels: bug, comp:confocal, comp:odmr

#492 Splitting up national instruments x series
  documentation/changelog.md
  hardware/gated_ni_card.py
  hardware/national_instruments_x_series.py
  hardware/ni_x_series_counter.py
  hardware/ni_x_series_gated_counter.py
  hardware/ni_x_series_odmr.py
  hardware/ni_x_series_scanner.py
Labels: OMNISCAN

#494 Poimanager Overhaul
  artwork/icons/qudiTheme/22x22/new_poi_crosshair.png
  artwork/icons/qudiTheme/22x22/new_poi_mouse.png
  artwork/icons/qudiTheme/source_svg/mouse_pointer.svg
  artwork/icons/qudiTheme/source_svg/new_poi_crosshair.svg
  artwork/icons/qudiTheme/source_svg/new_poi_mouse.svg
  config/example/default.cfg
  documentation/changelog.md
  gui/poimanager/poimangui.py
  gui/poimanager/ui_poimangui.ui
  logic/poi_manager_logic.py
Labels: bug, comp:poi_manager, design issue, enhancement

#495 Another bug fix to AWG 70k flags
  documentation/changelog.md
  hardware/awg/tektronix_awg70k.py
Labels: bug, comp:pulsed
