Repository Ulm-IQO/qudi, pull requests merged in 2020-12, with the labels that each got.

#623 Switch interface rework
  config/example/default.cfg
  documentation/changelog.md
  gui/switch/switch_gui.py
  gui/switch/switch_state_widgets.py
  gui/switcher/switchgui.py
  gui/switcher/ui_switch_widget.ui
  gui/switcher/ui_switchgui.ui
  hardware/switches/digital_switch_ni.py
  hardware/switches/flipmirror.py
  hardware/switches/hbridge.py
  hardware/switches/ok_fpga/ok_s6_switch.py
  hardware/switches/ok_s6_switch.py
  hardware/switches/osw12.py
  hardware/switches/switch_dummy.py
  interface/switch_interface.py
  logic/interfuse/switch_combiner_interfuse.py
  logic/switch_logic.py
  qtwidgets/toggle_switch.py
Labels: comp:switches, enhancement

#638 Loading indicator
  documentation/changelog.md
  qtwidgets/loading_indicator.py
Labels: enhancement

#641 Switch bugfixes
  hardware/switches/switch_dummy.py
  interface/switch_interface.py
  logic/switch_logic.py
Labels: bug, comp:switches
